@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
  --primary: #c91ac9;
  --primary-light: #e967e9;
  --secondary: #ff67a1;
  --primary-text: #fff;
  --secondary-text: #d1d1d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease;
  user-select: none;
  /* cursor: none; */
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  background-color: #000;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px) brightness(0.5);
}

#reloadBackground {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: var(--secondary-text);
  font-size: 5rem;
  cursor: pointer;
}

#reloadBackground:hover {
  color: var(--secondary);
  transform: rotateZ(180deg);
}

.container {
  width: 80%;
  height: auto;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-weight: 900;
  color: var(--primary-text);
}

.container#date {
  position: absolute;
  text-transform: uppercase;
  top: 2rem;
  font-size: clamp(3rem, 7vw, 14rem);
  font-weight: 600;
  color: var(--secondary-text);
  text-shadow: 0 0 5px var(--secondary);
}

.container#date strong {
  color: var(--primary);
  font-size: clamp(3rem, 10vw, 14rem);
  box-shadow: 0 0 15px var(--primary-light);
}

.container#time {
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
}

.container#time .time {
  border-radius: 1rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(2px);
  backdrop-filter: blur(10px);
}

.container#time .time .digit {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.container#time .separator {
  font-size: clamp(0.5rem, 5.5vw, 10rem);
  align-self: flex-end;
  color: var(--primary);
  text-shadow: 0 0 5px var(--primary-light);
}

.container#time .time .digit .number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 8vw, 20rem);
  font-weight: 700;
  flex-shrink: 0;
  color: var(--primary-text);
  text-shadow: 0 0 5px var(--primary);
}